.button {
  display: inline-block;
}

button {
  background-color: transparent;
  margin: 0;
  border: none;
  font-size: 1.25rem;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

button:hover {
  color: var(--secondary-color);
}
