.Meaning h3 {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .Meaning h3 {
    font-size: 2.25rem;
  }
}

.Meaning hr {
  margin: 5px 0 15px 0;
  width: 100%;
  border: 1px solid var(--secondary-color);
}

.definition {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 25px;
}

.definition span {
  font-weight: 700;
  padding-right: 5px;
}

.example {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  opacity: 0.8;
  margin-top: 5px;
}

.example span {
  font-weight: 500;
  padding-right: 5px;
}
