.Phonetic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.Phonetic .text {
  opacity: 0.5;
  font-size: 1.25rem;
  margin-left: 10px;
}

.Phonetic a {
  margin-right: 15px;
  text-decoration: none;
}
