.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App main {
  flex: 1 0 auto;
  width: 100%;
}

.App h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 30px 0;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px var(--background-color);
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .App h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .App h1 {
    font-size: 6rem;
  }
}

.App footer {
  margin-top: auto;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 20px 24px;
  color: var(--text-color);
}
