.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 30px 0;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px var(--background-color);
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .App h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .App h1 {
    font-size: 6rem;
  }
}

.App footer {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0;
  color: var(--text-color);
}
